# ALL

node_modules

# Credentials

/server/db-credentials

# REACT

# dependencies
/client/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client.DS_Store
/client.env.local
/client/client.env.development.local
/client.env.test.local
/client.env.production.local

/clientnpm-debug.log*
/clientyarn-debug.log*
/clientyarn-error.log*
