.default-btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  text-align: center;

  transition: all 0.2s;
  cursor: pointer;
}

.default-btn:hover,
.default-btn:active {
  transform: scale(1.05);
}

.default-btn--blue {
  background-color: #244ab1 !important;
}

.default-btn--green {
  background-color: #25c43a !important;
}

.default-btn--red {
  background-color: #c52828 !important;
}
